@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap');
*{
    font-family: "Roboto", sans-serif;

}

body{
    margin: 0;
    padding: 0;
}

section{
    margin-top: 80px;
}

input{
    width: 100%;
    font-size: 16px;
}
input:focus{
    outline: 0;
}

input-div:focus{
    border: black solid 2px;
}

button:hover{
    border: 1px solid #000;
}

.main-wrapper{
    padding: 0 200px;
}

#logo{
    font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.hero{
     background: #000;
    background-image: url("./assets/images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}



